# Ignore VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Directories
*__pychache__/
*.deps/
yaml-cpp-yaml-cpp-0.7.0/
data/
out/
bye_splits/production/submit_scripts/


# Untracked file types, personal files
*.exe
*.DS_Store
*.pyc
*.o
*.d
*.rej
*.diff
*.parquet
*.html
settings.json
conda_byesplits.sh
dict_testing.py